.banner{
    background: url('https://a0.muscache.com/im/pictures/166791ff-bc82-4b88-ba3d-49be1d462dce.jpg?im_w=2560') center;
    /*background: url('https://media.cntraveler.com/photos/5db1d0dd11c1e500092e7133/master/pass/airbnb-ski-aspen-28328347.jpg') center;*/
    /*background: url('https://i.imgur.com/HFYv6WO.jpg') center;*/
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    position: relative;
}
.banner:hover {
    filter: saturate(180%);
    
}

.banner__info {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding-top: 25vh;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 40px;
    width: 300px;
    height: 25vh;
}

.banner__info h1{
  margin-top: 1px;
}



.banner__search {
    display: flex;
    flex-direction: column;
    z-index: 100;
}

.banner__searchButton {
  background-color: white !important;
  font-weight: 900 !important;
  text-transform: inherit !important;
  color: #ff7779 !important;
}

.banner__info > button{
    background-color: #ff7779;
    color: white;
    text-transform: inherit;
    margin-top: 20px;
    font-weight: 600;
    z-index: 0;
}

.banner__info > button:hover {
    background-color: white;
    color: #ff7779;
  }
  

.banner__info > h5 {
    margin-top: 10px;
}