.home__section {
  display: flex;
  padding: 30px;
}

  .home > h1{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.home .title-section{
margin: 20px 20px 20px 43px;
font-size: 36px;
}

.home .home__section__place{
  display: flex;
  padding: 5px 40px;
  justify-content: center;
}

.home > .subtitle-section{
  margin: -20px 20px 20px 43px;
  font-size: 26px;
  font-style: normal;
  font-weight: lighter;
}

.home .section-button{
  position: absolute;
  margin-top: 25%;
  margin-left: 10%;
  font-size: 25px;
  background-color: rgb(255, 255, 255);
  border: 2px #FF5B60 solid;
  border-radius: 20px;
  cursor: pointer;
  outline: none;
  padding: 20px;
}
.home .section-button:hover{

  background-color: rgb(189, 186, 186);

  
}

@media screen and (max-width: 858px) {
  .home .become, .home .home__section__place, .home .place, .home .last {
    display: none;
    
  }
}

@media screen and (max-width: 701px) {
  .home .home__section {
    flex-direction: column;
    
  }
}